body {
    background: black;
}

.title {
    color: white;
    font: normal 20pt 'Arial';
}

.dt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}

.dv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 350px;
}