body {
    background: rgb(70, 142, 236);
    font: normal 16pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    margin: auto;
}

footer {
    color: white;
    text-align: center;
}